@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat.ttf");
}

.header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: Montserrat;
  background-color: rgba(53, 47, 47, 0.492);
}

.header-image {
  width: 30px;
}

.body {
  margin-top: 15vh;
}
